.higher {
    background-color: #2F303A;
    border-radius: 50x;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    height: 600px;
    font-weight: 700;
}

.higher p {
    position: absolute;
    text-align: center;
    weight: 2px;
    top: 200px;
    left: 352px;
    right: 352px;
    bottom: 280px;
}

.higher .sb {
    background-color: #2196f3;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    top: 350px;
    left: 600px;
    right: 200px;
    bottom: 280px;
}

.flexbox {
    display: flex;
    margin: 20px 15px 15px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexbox p {
    color: #757575;
    font-size: 14px;
    margin-right: 5px;
}

.about {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 75px;
    margin-bottom: 75px;
}

.fleximg {
    display: flex;
}
.fleximg img {
    margin: 0px 30px 0px;
    height: 300px;
}

.team {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#F5F4FA;
    height: 648px;
    margin-top: 75px;
}

.team_flex {
    display: flex;
}

.team_name {
    text-align: center;
    padding: 80px 0px 25px;
}

.photos_team {
    margin: 0px 30px;
    background-color: white;
    width: 270px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rname {
    font-weight: 600;
    color: black;
}

.jobname {
    color: #757575;
}

.lastbox {
    background-color:#2F303A;
    position: absolute;
    height: 252px;
    width: 1340px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sheatshrift_a, .sheatshrift_b{
    position: absolute;
    font-family: Railway;
    font-size: 26px;
    font-weight: 700;
}
.sheatshrift_a {
    color: blue;
    left: 215px;
    top: 60px;
}

.sheatshrift_b {
    color: white;
    top: 60px;
    left: 270px;
}

.other_a {
    position: absolute;
    color: white;
    top: 111px;
    left: 215px;
}

.other_b {
    position: absolute;
    color: #FFFFFF99;
    top: 141px;
    left: 215px;
}

.other_c {
    position: absolute;
    color: #FFFFFF99;
    top: 177px;
    left: 215px;
}
